.menu{

position: absolute;
width: 1440px;
height: 49px;
left: 0px;
top: 0px;

background: rgba(143, 13, 189, 0.71);
}
.menu-texto{

position: absolute;
width: 129px;
height: 19px;
left: 1252px;
top: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}
.cabec{
    position: absolute;
    width: 1440px;
    height: 169px;
    left: 0px;
    top: 49px;
    
    background: rgba(143, 13, 189, 0.71);
.cabec-img{
    position: absolute;
width: 1448px;
height: 687px;
left: -4px;
top: 217px;

background: linear-gradient(180deg, rgba(143, 13, 189, 0.71) 0%, rgba(143, 13, 189, 0) 100%);
}